cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.2
mido==1.2.9
mingus==0.6.0
numpy==1.18.5
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
simpleaudio==1.0.4
six==1.15.0
timidity==0.1.2
